<html>
<head>

    <title>

    </title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
</head>


<body>

<div id="chatid">
    <h2 style="font-size:x-large;color: darkgreen">chat</h2>
    <div id="chat-window">
        <div id="output"></div>
        <div id="typingInfo"></div>

    </div>
    <input id="handle" type="text" placeholder="Handle"   />
    <input id="message" type="text" placeholder="Message"    />
    <button id="send"  >Send</button>


    <script>
        $(document).ready(function () {
            $('#message').on('input change', function () {
                if ($(this).val() != '') {
                    $('#send').prop('disabled', false);
                }
                else {
                    $('#send').prop('disabled', true);
                }
            });
        });
    </script>
</div>

</body>
<script src="./chat.js"></script>

</html>